#viewport-frame {
    float: left;
}

#canvas {
    border: solid #000000 1px;
}

#game-info {
    float: left;
    margin-left: 20px;
    max-width: 620px;
}

#ws-error {
    color: darkred;
}

#connected-info {
    display: none;
    margin-top: 20px;
}